body {
    background-color: #fff6d8;
    font-family: Arial;
    background-image: url(cabecalhos_back.png);
    background-repeat: repeat-y;
    margin-left: 10%;
}
h1 {
    color: #906718;
}
h3 {
    border-radius: 10px;
    color: #fff6d8;
    background-color: #906718;
    padding: 10px 5px;
    border-radius: ;
}

hr {
     border: 3px dashed #d48b00 ;   

}